.card {
  border: 1px solid $colour-primary-blue;
  margin: 1rem;
  max-width: 330px;
  transition: all 400ms;

  a {
    text-decoration: none;
    color: $colour-text-main;
  }

  img {
    max-width: 100%;
  }

  main {
    padding: 1rem;
    
    .card-title {
      color: $colour-text-link;
      margin: 0;
      font-weight: 300;
    }
  }
}
