/* primary palette */
$colour-primary-blue: #00305e;
$colour-primary-red: #b61137;
$colour-primary-gold: #fba900;

/* secondary palette */
$colour-secondary-blue: #406486;
$colour-secondary-dark-gray: #666666;
$colour-secondary-light-gray: #8c8c8c;
$colour-secondary-yellow: #fcc34c;

/* text pallete */
$colour-text-main: #3c3c3c;
$colour-text-link: #1d70ad;
$colour-text-link-visited: #803580;